*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  place-items: center;
background-color: rgba(17, 17, 17, 0.585);
  width: 100vw;
  height: 100vh;
overflow: hidden;
}
.App{
width: 400px;
height: 600px;
padding: 25px;
border-radius: 10px;
font-size: 1.3rem;
 font-family: 'Rubik', sans-serif;
}
input[type=radio]{
width: 30px;
height: 30px;
margin-left: 5px;
}
#date{
  width: 200px !important;
}
.result{
  width: 300px;
  height: 200px;
  border: dashed 2px #fff;
padding-top: 10px;
}
.h3{
direction: rtl;
}
span{
  font-size: 0.9rem;
}