*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  place-items: center;
background-color: rgba(17, 17, 17, 0.585);
  width: 100vw;
  height: 100vh;
overflow: hidden;
}
.App{
display: flex;
flex-direction: column;
width: 200px;
height: 200px;
padding: 25px;
border-radius: 10px;
font-size: 1.3rem;
 font-family: 'Rubik', sans-serif;
 transition: all .3s ease-in;
}
.open{
  width: 400px;
  height: 600px;
  transition: all .25s ease-out;
}
input[type=radio]{
width: 30px;
height: 30px;
margin-left: 5px;
}

.result{
  width: 350px;
  height: 200px;
  border: dashed 2px #fff;
padding-top: 10px;
}
.h3{
direction: rtl;
}
span{
  font-size: 0.9rem;
}
#gasflow,#higho{
  width: 35px;
  height: 35px;
}
.checkbox-text{
  font-size: 1rem;
}
.pressure-box{
  height: 35px;
}